* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}
html {
    height: 100vh;
}
body {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    background-image: linear-gradient(105deg, rgba(193,245,243,1) 0%, rgba(208,239,234,1) 53%, rgba(237,217,179,1) 100%);
    background-repeat: no-repeat;
}
svg {
    margin-top: 50px;
}
input {
    margin-left: 5px;
    padding-left: 5px;
    height: 25px;
    width: 165px;
    background: rgba(255, 255, 255, 0.543);
    border: none;
    border-radius: 10px;
    border: 1px solid transparent;
}
input:hover {
    border: 1px dotted #5c5c5ca8;
}
label {
    letter-spacing: 1px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}
span {
    margin-left: 5px;
    font-size: 10px;
}
.clear, .send {
    outline: none;
    font-weight: 100;
    border: none;
    border: .5px solid transparent;
    border-radius: 10px;
    background: none;
    color: #8f8f8f9f;
}
.clear {
    padding: 5px 8px;
    border: 1.5px solid #63626261;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
}
.send {
    padding: 10px;
    font-size: 25px;
}
.clear:hover, .send:hover {
    color: #008000;
    border: .5px solid transparent;
}
.buttons-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
    background: #ffffff70;
}

.addAccount {
    justify-self: center;
    margin-top: 50px;
    -webkit-box-shadow: 10px 4px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 4px 21px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 4px 21px -4px rgba(0,0,0,0.75);
    font-size: 18px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    color: #fff;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #6c62fe;
}
.form-box {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.form-box.error input {
    border: 1px solid rgba(255, 0, 0, 0.200);
    background: rgba(255, 0, 0, 0.146);
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: .5px solid #63626287;
}

.footer-box p {
    font-size: 15px;
    color: #636262de;
}

.succesInfo {
    display: none;
    color: green;
}

@media(min-width:760px) {
    .wrapper {
        padding: 40px;
    }
    .form-box {
        margin: 10px 0;
    }
    img {
        width: 400px;
    }
}
@media(min-width:992px) {
    img {
        width: 550px;
    }
}